{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	<div>
		<div class="count">
			{{ categories.getTotalItemCount }}
			catégories trouvées
		</div>
		<div>
			{{ form(form) }}
			</div>
			<table>
				<tr>
					{# sorting of properties based on query components #}
					<th>{{ knp_pagination_sortable(categories, 'Id', 'c.id') }}</th>
					<th {% if categories.isSorted('c.name') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(categories, 'Nom de la catégorie', 'c.name') }}
					</th>
				</tr>

				{# table body #}
				{% for category in categories %}
					<tr {% if loop.index is odd %} class="color" {% endif %}>
						<td>{{ category.id }}</td>
						<td>{{ category.name }}</td>
					</tr>
				{% endfor %}
			</table>
			<div class="navigation">
				{{ knp_pagination_render(categories) }}
			</div>
			<a href="{{path('add_category')}}" class="btn btn-success">Ajouter une catégorie</a>
		</div>
	{% endblock %}
